# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ipch
*.ipdb
*.pdb
*.iobj
*.tlog
*.ipch

**/opencv
.vs/CMLPR/v17/.suo
.vs/CMLPR/v17/Browse.VC.db
.vs/CMLPR/v17/Browse.VC.db-shm
.vs/CMLPR/v17/Browse.VC.db-wal
.vs/CMLPR/v17/Browse.VC.opendb
.vs/CMLPR/v17/ipch/AutoPCH/1fcd0d16bf5df651/CMLPR.ipch
CMLPR/x64/Release/CMLPR.iobj
CMLPR/x64/Release/CMLPR.ipdb
CMLPR/x64/Release/CMLPR.log
CMLPR/x64/Release/CMLPR.tlog/CL.command.1.tlog
CMLPR/x64/Release/CMLPR.tlog/CL.read.1.tlog
CMLPR/x64/Release/CMLPR.tlog/link.command.1.tlog
CMLPR/x64/Release/CMLPR.tlog/link.read.1.tlog
CMLPR/x64/Release/vc143.pdb
x64/Release/CMLPR.pdb
CMLPR/x64/Release/CMLPR.iobj
CMLPR/x64/Release/CMLPR.ipdb
CMLPR/x64/Release/CMLPR.log
CMLPR/x64/Release/CMLPR.tlog/CL.command.1.tlog
CMLPR/x64/Release/CMLPR.tlog/CL.read.1.tlog
CMLPR/x64/Release/CMLPR.tlog/link.command.1.tlog
CMLPR/x64/Release/CMLPR.tlog/link.read.1.tlog
CMLPR/x64/Release/vc143.pdb
x64/Release/CMLPR.pdb
